body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.header {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo h1 {
    margin-left: 10px;
    font-size: 1.9em;
}

.header nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.1em;
}

.gallery-container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffcc00;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #ffcc00;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-bottom {
    font-size: 14px;
}
